<% layout("/layouts/boilerplate") %>
<body>
  <!-- Include Banner -->
  <%- include("../includes/banner.ejs", { pageTitle: 'Add New Listing' }) %>

  <!-- CONTACT FORM SECTION  -->
  <section
    class="float-left w-100 talk-width-our-team-con position-relative main-box padding-top padding-bottom"
  >
    <div class="container wow bounceInUp" data-wow-duration="2s">
      <div class="heading-title text-center">
        <h4 class="text-uppercase">Add New Listing</h4>
        <h2 class="">Add Your Property</h2>
        <!-- heading title -->
      </div>
      <div class="row">
        <div class="col-12">
          <div class="register-box">
            <form method="POST" action="/listing/" enctype="multipart/form-data">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label for="title">Enter Title :</label>
                        <input
                          type="text"
                          class="form_style"
                          placeholder="Enter Title:"
                          name="title"
                          id="title"
                          required
                        />
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="form-group">
                        <label for="price">Enter Price/Rent Per Month :</label>
                        <input
                          type="number"
                          class="form_style"
                          placeholder="Enter Rent/Month"
                          name="price"
                          id="price"
                          required
                        />
                      </div>
                    </div>
                    
                    <div class="col-12">
                      <div class="form-group fon-con">
                        <label for="location">Enter Location :</label>
                        <input
                          type="text"
                          class="mb-md-0 form_style"
                          placeholder="Enter Location"
                          name="location"
                          id="location"
                          required
                        />
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="form-group fon-con">
                        <br>
                        <label for="country">Select Country :</label>
                        <select name="country" id="country">
                          <option value="pakistan">Pakistan</option>
                          <option value="india">India</option>
                          <option value="usa">USA</option>
                          <option value="china">China</option>
                          <option value="bangladesh">Bangladesh</option>
                          <option value="iran">Iran</option>
                          <option value="iraq">Iraq</option>
                        </select>
                       
                      </div>
                    </div>

                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                  <div class="row">

                    <div class="col-12">
                      <div class="form-group fon-con">
                        <label for="image">Upload Image :</label>
                        <input 
                          type="file" 
                          accept="image/*"
                          class="mb-md-0 form_style"
                          placeholder="Upload image" 
                          name="image" 
                          id="image" 
                          required />
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="form-group mb-0">
                        <br>
                        <label for="description">Write Description :</label>
                        <textarea
                          class="form_style"
                          placeholder="Add Description:"
                          rows="5"
                          name="description"
                          id="description"
                        ></textarea>
                      </div>
                    </div>


                    <div class="col-12"></div>
                      <div class="manage-button ml-3">
                        <button
                          type="submit"
                          class="register_now text-white text-decoration-none w-100"
                        >
                          Add Listing
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- container -->
    </div>
    <!-- talk with our team con -->
  </section>
</body>
