<% layout("/layouts/boilerplate") %>
<body>
  <!-- Include Banner -->
  <%- include("../includes/banner.ejs", { pageTitle: 'Stripe Payment Successfull' }) %>

  <section>
    <h2>Payment Successfull</h2>
  </section>
</body>
