<!-- BANNER SECTION -->
<section
  class="float-left w-100 banner-con sub-banner-con position-relative main-box"
>
  <img
    alt="vector"
    class="vector1 img-fluid position-absolute"
    src="/assets/images/vector1.png"
  />
  <img
    alt="vector"
    class="vector2 img-fluid position-absolute"
    src="/assets/images/vector2.png"
  />
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="sub-banner-inner-con padding-bottom">
          <h1>All Listing</h1>
          <p class="font-size-20">
            Explore all rental property listings for a wide variety of stays
            with easy and flexible booking options.
          </p>

          <!-- sub banner inner con -->
        </div>
        <!-- col-lg-6 -->
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>

  <!-- banner con -->
</section>
