<!-- FOOTER SECTION -->
<section class="float-left w-100 position-relative main-box footer-con">
  <div class="container">
    <div class="middle-portion">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-12 footer-logo-con">
          <a href="/">
            <figure class="footer-logo">
              <img
                src="/assets/images/footer-logo.png"
                class="img-fluid"
                alt=""
              />
            </figure>
          </a>
          <p class="text-size-16 footer-text">
            Easy Stay connects you with a wide range of rental properties,
            offering flexible and convenient booking options. Discover your
            ideal stay with our comprehensive and user-friendly listings.
          </p>
          <figure class="mb-0 payment-icon">
            <img
              src="assets/images/payment-card.png"
              class="img-fluid"
              alt=""
            />
          </figure>
        </div>

        <div class="col-lg-4 col-md-6 col-12">
          <div class="links">
            <h4 class="heading">Quick Links</h4>
            <hr class="line" />
            <ul class="list-unstyled mb-0">
              <li>
                <a href="/" class="text-size-16 text text-decoration-none"
                  >Home</a
                >
              </li>

              <li>
                <a
                  href="/listing/"
                  class="text-size-16 text text-decoration-none"
                  >All Listings</a
                >
              </li>

              <li>
                <a
                  href="/listing/new/"
                  class="text-size-16 text text-decoration-none"
                  >Add New Listing</a
                >
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-12 d-sm-block">
          <div class="icon">
            <h4 class="heading">Get in Touch</h4>
            <hr class="line" />
            <ul class="list-unstyled mb-0">
              <li class="text-size-16 text">
                <span class="d-inline-block">Email:</span>
                <a href="#" class="mb-0 text text-decoration-nonetext-size-16"
                  >info@easystay.com</a
                >
              </li>
              <li class="text-size-16 text">
                <span class="d-inline-block">Phone:</span>
                <a href="#" class="mb-0 text text-decoration-nonetext-size-16"
                  >+92 000 0000000</a
                >
              </li>

              <li class="social-icons">
                <div class="circle">
                  <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                </div>
                <div class="circle">
                  <a href="#"
                    ><i class="fa-brands fa-square-x-twitter"></i
                  ></a>
                </div>
                <div class="circle">
                  <a href="#"
                    ><i class="fa-brands fa-linkedin"></i
                  ></a>
                </div>
                <div class="circle">
                  <a href="#"
                    ><i class="fa-brands fa-square-instagram"></i
                  ></a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright-con">
      <div class="row">
        <div class="col-12">
          <p class="text-size-16">Copyright © 2024 | All Rights Reserved</p>
        </div>
      </div>
      <!-- copyright con -->
    </div>
    <!-- container -->
  </div>
  <!-- footer con -->
</section>
